.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

log/*
!log/.gitkeep

data/*
!data/.gitkeep

storage/originals/*
!storage/originals/.gitkeep
storage/parsed/*
!storage/parsed/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep

etc/app.yaml
.env
.env.*
